{% extends "base_ok.html" %}
{% load static %}
{% load hash_filter %}

{% block dynamic_content %}
  {% if "ЛІКАРІ" in user_groups or "МЕД.ПЕРСОНАЛ" in user_groups %}
    {% for pat in patients_with_cards%}
      <div class="card">
        <div class="card-body">
          <h5 class="font-weight-bold mb-3">{{ pat.user.last_name }} {{ pat.user.first_name }}
            {% if pat.user.patronymic %}{{ pat.user.patronymic }}{% endif %}</h5>


            {% if pat.user.img %}
              <img src="{{ pat.user.img.url }}" alt="Зображення" class="card-img-left">
            {% else %}
              <img src="{% static 'users/img/profile_img.png' %}" alt="Зображення" class="card-img-left">
            {% endif %}
          
          {% if pat.id_doctor.exists %}
            {% for doctor in pat.id_doctor.all %}
              <p class="card-text">Cімейний лікар: {{ doctor.user.last_name }} {{ doctor.user.first_name }}
              {% if doctor.user.patronymic %}{{ doctor.user.patronymic }}{% endif %}</p>
            {% endfor %}
          {% else %}
            <p class="card-text">Cімейний лікар: не призначено</p>
          {% endif %}

          {% if pat.medcards %}<p class="card-text">ID-картки: {{ pat.medcards.display_id }}</p>{% endif %}

          <p class="card-text">Телефон пацієнта: {{ pat.user.phone_number }}</p>
          <div class="bt-group">
            <a href={% url "cards_app:index" hid=pat.medcards.id|encodeid %} class="btn btn-outline-primary">Більше інформації</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
<nav aria-label="Навігація сторінками">
  <ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Попередня">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for num in paginator.page_range %}
      <li class="page-item {% if num == page_obj.number %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Наступна">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endblock %}

</body>
</html>