{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'public/css/base.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'users/ok.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <title>Medical Center</title>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include 'public/global_nav.html' %}

    <div class="container light-style flex-grow-1 container-p-y">
      <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-3 pt-0">
            <button class="navbar-toggler bi bi-three-dots d-md-none" type="button" data-toggle="collapse" 
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" 
            aria-label="Toggle navigation"></button>
            <div class="list-group list-group-flush account-settings-links collapse navbar-collapse d-md-block"
            id="sidebarMenu">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-center" href="{% url 'user:profile' %}">Особистий кабінет</a>
                </li>
                <hr class='hr_cards'>
                
                
                  {% if "ЛІКАРІ" in user_groups %}<li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'card:journal_referral' %}">Мої направлення</a>
                  </li>
                  <hr class='hr_cards'>
                  {% endif %}
                  {% if "ЛІКАРІ" in user_groups or "МЕД.ПЕРСОНАЛ" in user_groups %}
                  <li class="nav-item">
                    <a class="nav-link text-center fw-bold" href="{% url 'card:all_cards' %}">Медичні картки</a>
                  </li>
                  
                  
                  {% if card %}
                    <hr class='hr_cards'>
                    <li class="nav-item">
                      <a class="nav-link text-center" href="{% url 'card:index' card.display_id %}">Загальна інформація</a>
                    </li>
                    <hr class='hr_cards'>
                    <li class="nav-item">
                      <a class="nav-link text-center" href="{% url 'card:vaccine' card.display_id %}">Щеплення</a>
                    </li>
                    <hr class='hr_cards'>
                    <li class="nav-item">
                      <a class="nav-link text-center" href="{% url 'card:referral_card' card.display_id %}">Направлення пацієнта</a>
                    </li>
                    <hr class='hr_cards'>
                    <li class="nav-item">
                      <a class="nav-link text-center" href="{% url 'card:result_analysis' card.display_id %}">Результати аналізів</a>
                    </li>
                  {% endif %}

                {% elif "ПАЦІЄНТИ" in user_groups %}
                  <li class="nav-item">
                    <h5 class="font-weight-bold mb-3 mt-3 text-center">Медична карта</h5>
                  </li>
                  <hr class='hr_cards'>
                  <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'card:card_profile'%}">Загальна інформація</a>
                  </li>
                  <hr class='hr_cards'>
                  <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'card:vaccine_profile'%}">Щеплення</a>
                  </li>
                  <hr class='hr_cards'>
                  <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'card:referral_profile'%}">Направлення</a>
                  </li>
                  <hr class='hr_cards'>
                  <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'card:result_analysis_profile'%}">Результати аналізів</a>
                  </li>


                {% elif "ЛАБОРАНТИ" in user_groups %}
                  <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'card:journal_referral'%}">Лабораторний журнал</a>
                  </li>
                  {% comment %} <hr class='hr_cards'>
                  <li class="nav-item">
                    <a class="nav-link text-center" href="{% url 'laboratory:lab_norms'%}">Реєстр нормативних значень</a>
                  </li> {% endcomment %}
                {% endif %}
              </ul>
            </div>
          </div>

          <div class="col-md-9">
            {% block dynamic_content %}
            
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    {% block footer %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>